---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import ProductCard from "../../components/ProductCard.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const categories = await getCollection("category");
  return categories.map((category) => ({
    params: { slug: category.slug },
    props: category,
  }));
}
type Props = CollectionEntry<"category">;
const category = Astro.props;

const products = (await getCollection("product")).filter(
  (x) => x.data.category.slug === category.slug
);
---

<Layout title={`CIA CAMPORSAL | ${category.data.name}`}>
  <div class="flex flex-col flex-1 w-full lg:w-3/4 gap-8 p-4">
    <h1 class="text-5xl text-secondary break-all uppercase">
      {category.data.pluralName}
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Id cursus metus
      aliquam eleifend mi in. Aliquam faucibus purus in massa tempor. Malesuada
      pellentesque elit eget gravida cum sociis natoque penatibus. Est ultricies
      integer quis auctor elit sed. Magna fermentum iaculis eu non diam.
      Maecenas sed enim ut sem. Fermentum leo vel orci porta. Vestibulum rhoncus
      est pellentesque elit ullamcorper dignissim cras. Turpis in eu mi bibendum
      neque egestas. Pretium nibh ipsum consequat nisl. Sed id semper risus in
      hendrerit gravida. Nunc id cursus metus aliquam. Ultrices eros in cursus
      turpis massa tincidunt. Purus non enim praesent elementum facilisis.
    </p>
    <section class="grid grid-cols-12 gap-4">
      {
        products.map((product) => (
          <ProductCard
            product={product}
            customClass="col-span-12 md:col-span-6 lg:col-span-4"
          />
        ))
      }
    </section>
  </div>
</Layout>
