---
import BrandCarrousel from "../components/BrandCarrousel.astro";
import CarrouselHome from "../components/CarrouselHome.astro";
import CategoryMenu from "../components/CategoryMenu.astro";
import FeaturedProducts from "../components/FeaturedProducts.astro";
import ServiceList from "../components/ServiceList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CIA CAMPORSAL | Inicio">
  <CarrouselHome />
  <div class="flex flex-col w-full lg:w-3/4 gap-8">
    <CategoryMenu />
    <FeaturedProducts />
    <BrandCarrousel />
    <ServiceList />
  </div>
</Layout>
