<section class="grid grid-rows-[auto_minmax(0,_1fr)] w-full gap-4">
    <h2 class="p-4 lg:p-0 text-2xl uppercase self-center">Marcas</h2>
    <div
      class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)"
    >
      <ul
        x-ref="logos"
        class="flex items-center justify-center lg:justify-start [&_li]:mx-8 [&_div]:max-w-none animate-infinite-scroll"
      >
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            1
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            2
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            3
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            4
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            5
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            6
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            7
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            8
          </div>
        </li>
      </ul>
      <ul
        class="flex items-center justify-center lg:justify-start [&_li]:mx-8 [&_div]:max-w-none animate-infinite-scroll"
        aria-hidden="true"
      >
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            1
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            2
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            3
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            4
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            5
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            6
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            7
          </div>
        </li>
        <li>
          <div class="h-10 w-24 p-4 flex items-center text-white bg-slate-200">
            8
          </div>
        </li>
      </ul>
    </div>
  </section>
  