---
import { Image } from "astro:assets";
import adex from "../images/brand/adex.jpg";
import apollo from "../images/brand/apollo.jpg";
import bugatti from "../images/brand/bugatti.jpg";
import cimberio from "../images/brand/cimberio.png";
import esseti from "../images/brand/esseti.png";
import flowcom from "../images/brand/flowcom.jpg";
import giacomini from "../images/brand/giacomini.jpg";
import itap from "../images/brand/itap.webp";
import mech from "../images/brand/mech.jpg";
import sun from "../images/brand/sun.jpg";
import sunpool from "../images/brand/sunpool.jpg";
import texoon from "../images/brand/texoon.png";

const images = [
  { image: adex, alt: "Adex" },
  { image: apollo, alt: "Apollo" },
  { image: bugatti, alt: "Bugatti" },
  { image: esseti, alt: "Esseti" },
  { image: flowcom, alt: "Flowcom" },
  { image: giacomini, alt: "Giacomini" },
  { image: itap, alt: "Itap" },
  { image: cimberio, alt: "Cimberio" },
  { image: mech, alt: "Mech" },
  { image: sun, alt: "Sun" },
  { image: sunpool, alt: "Sunpool" },
  { image: texoon, alt: "Texoon" },
];
---

<style>
  .scroll {
    -webkit-mask-image: linear-gradient(
      90deg,
      transparent,
      #fff 20%,
      #fff 80%,
      transparent
    );
  }

  .scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time) * -1);
  }

  .scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time) / -2);
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-200%);
    }
  }
</style>
<section class="grid grid-rows-[auto_minmax(0,_1fr)] w-full gap-4">
  <h2 class="p-4 lg:p-0 font-coda font-semibold text-2xl uppercase self-center">Marcas</h2>
  <div
    class="flex overflow-hidden gap-4 scroll imgBox w-full"
    style="--time:60s"
  >
    <div class="flex items-center justify-center gap-4">
      {
        images.map((item) => (
          <Image class="max-w-32 scale-75" src={item.image} alt={item.alt} />
        ))
      }
    </div>
    <div class="flex items-center justify-center gap-4">
      {
        images.map((item) => (
          <Image class="max-w-32 scale-75" src={item.image} alt={item.alt} />
        ))
      }
    </div>
  </div>
</section>
