---
import { getCollection } from "astro:content";

const categories = await getCollection("category");
---
<div
  class="sticky top-0 z-[1] w-full h-20 bg-secondary grid grid-cols-2 sm:grid-cols-5"
>
  {
    categories.map((category) => (
      <a
        href={`categorias/${category.slug}`}
        class="uppercase text-white  justify-self-center self-center"
      >
        {category.data.pluralName}
      </a>
    ))
  }
</div>
