---
import { getCollection } from "astro:content";

const categories = await getCollection("category");
---
<!-- TODO: Soportar la cantidad de categorias, actualizar gird-cold -->
<div class="sticky top-0 w-full h-20 bg-secondary grid grid-cols-5">
  {
    categories.map((i) => (
      <div class="uppercase text-white  justify-self-center self-center">
        {i.data.pluralName}
      </div>
    ))
  }
</div>
